@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --font-primary: 'Open Sans', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--gray-900);
  background-color: var(--background);
  font-family: var(--font-primary);
}
