:root {
  --pinkhs: #be185d;
  --softgray: #d6d3d1;
  --softblack: #44403c;
  --white: #ffffff;
  --graywhite: #F3F4F6;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.nav_cont{
  background-color: var(--graywhite);
  padding: 16px 0 16px 0;
}
.nav_body{
  max-width: 1047px;
  display: flex;
  place-content:center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 21px 0 21px;
}
.my_name{
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}
.nav_options{
  margin-top: 10px;
  width: 24px;
  height: 21.33px;
}
.container{
  max-width: 738px;
  margin: 0 auto;
}
.article-header {
  background-color: var(--softblack);
  padding: 16px 0 16px 0;
}
.article-header h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var(--white);
}
.first-title {
  margin: 48px 16px 0 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.first-content {
  margin: 32px 16px 0 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

.fstrong {
  font-weight: 600;
}

.second-title {
  margin: 56px 16px 0 16px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.second-content {
  margin: 24px 16px 0 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.flink {
  color: var(--pinkhs);
  font-weight: 400px;
}
.flistc {
  margin: 24px 16px 0 16px;
  height: 216px;
}
.first-list {
  margin: 15px 16px 0 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.third-content {
  margin: 24px 16px 0 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.first-quote {
  margin: 24px 16px 0 16px;
  padding: 16px 18px 16px 18px;
  border-radius: 8px;
  background-color: var(--softgray);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  font-style: italic;
}
.first-img-container {
  height: 341px;
  margin: 32px 16px 0 16px;
  border-radius: 8px;
  background-image: url(/assets/images/image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ffcaption {
  margin: 16px 16px 0 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.third-title {
  margin: 56px 16px 0 16px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}
.fourth-content {
  margin: 24px 16px 72px 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.article-footer {
  background-color: var(--softblack);
  padding: 16px 0 16px 0;
}
.article-footer h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var(--white);
}
