  .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 48px 16px;
    display: grid;
    justify-content: center;
  }
  .container__skills{
    margin: 0 auto;
    padding: 48px 16px;
    max-width: 1000px;
  }
  .portafolio-container{
    padding: 48px 16px;
    display: grid;
    justify-items: center;
  }
  .sub-container__skills{
    padding: 48px 16px;
    background-color: var(--background-dark);
    display: grid;
    justify-content: center;
  }
  .hobbi__info-container{
    margin-top: 24px;
    display: grid;
    grid-template-rows: repeat(6,230px);
    gap: 24px;
  }
  .first-title {
    margin: 48px 16px 0 16px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }
  
  .first-content {
    margin: 32px 16px 0 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  
  .fstrong {
    font-weight: 600;
  }
  
  .second-title {
    margin: 56px 16px 0 16px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }
  
  .second-content {
    margin: 24px 16px 0 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .flink {
    color: var(--primary-dark);
    font-weight: 400px;
  }
  .flistc {
    margin: 24px 16px 0 16px;
    height: 216px;
  }
  .first-list {
    margin: 15px 16px 0 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .third-content {
    margin: 24px 16px 0 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .first-quote {
    margin: 24px 16px 0 16px;
    padding: 16px 18px 16px 18px;
    border-radius: 8px;
    background-color: var(--secondary-light);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-style: italic;
  }
  .first-img-container {
    height: 341px;
    margin: 32px 16px 0 16px;
    border-radius: 8px;
    background-image: url(/assets/images/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ffcaption {
    margin: 16px 16px 0 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  .third-title {
    margin: 56px 16px 0 16px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }
  .fourth-content {
    margin: 24px 16px 72px 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .mid__title{
    font-size: 36px;
    text-align: center;
  }
  .mid__little-text{
    text-align: center;
    line-height: 27px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 4px ;
  }

  .article__container{
    margin-top: 24px;
    display: grid;
    grid-template-rows: repeat(4,300px);
    justify-self: center;
    gap: 15px;
  }
  .article__container-article span{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
  }
  .article__container-article h1{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-top: 10px;
  }
  .article__container-article p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
  }
  .article__container-article a{
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: var(--primary-dark);
    text-decoration: none;
  }
  /*----------------------------------*/
  .article__container-about{
    margin-top: 32px;
    display: grid;
    grid-template-rows: repeat(6,230px);
  }
  .article__container-about-item{
    display: flex;
    padding: 10px;
  }

  .article__container-about-item-img{
    width: 90px;
  }
  .article__container-about-item h1{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
  }
  .article__container-about-item_content{
    margin-left: 19.2px;
  }
  .article__container-about-item p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
  }
  /*------------------------------------*/
  .hobbi__imge-container{
    border-radius: 8px;
    background-image: url(/assets/images/image\ 4.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hobbi__imge-two{
    background-image: url(/assets/images/image\ 5.svg);
  }
  .hobbi__imge-three{
    background-image: url(/assets/images/image\ 6.svg);
  }
  .hobbi__imge-four{
    background-image: url(/assets/images/image\ 7.svg);
  }
  .hobbi__text-container{
    margin: 24px 0 24px 0;
    text-align: center;
    width: 343px;
    height: 230px;
  }
  .hobbi__text-container h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .hobbi__text-container p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
  /*-------------------------------------------------*/
.proyects__container{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 343px;
  grid-template-rows: repeat(4,274px);
  gap: 16px;
}
.proyects__container-item{
  background-color: var(--white);
  padding: 24px;
  display: grid;
  grid-template-rows: 50px 155px;
  gap: 16px;
}
.proyects__item-links{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
.proyects__link{
  padding: 8px;
  border-radius: 8px;
  background-color: var(--background);
  display: grid;
  place-items: center;
}
.arrow_link{
  grid-column: 4/6;
  background-color: var(--white);
  justify-items: end;
  align-items: start;
  border-radius: 0;
}
.proyects__item-data{
  display: grid;
  grid-auto-rows: 20% 65% 15%;
}
.proyects__item-data h1{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.proyects__item-data p{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.proyect__data-topics{
  display: flex;
  gap: 8px;
}
.data__topic{
  padding: 0 10px 0 10px;
  background-color: var(--primary-lighter);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 10px;
  text-justify: center;
}
.data__topic p{
  font-size: 12px;
  text-justify: center;
}
/*----------------------------*/
.input__container{
  padding: 48px 16px;
  display: grid;
  grid-template-rows: repeat(3,58px);
  grid-template-columns: 304px;
  gap: 32px;
  justify-content: center;
}
.input__container label{
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2em;
  display: grid;
  gap: 4px;
  color: var(--gray-900);
}
.input__container input{
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  border-radius: 6px;
  border: 1px solid var(--gray-700);
}
.help-container{
  padding: 0 16px 0 16px;
  display: grid;
}
.help-title{
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2em;
  gap: 4px;
  color: var(--gray-900);
}
.help-options{
  display: grid;
  margin-top: 10px;
  grid-template-rows: repeat(4,50px);
}
.help-options div{
  display: grid;
  grid-template-columns: 9% 91%;
  align-items: start;
}
.help-options label h3{
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-700);
  display: grid;
}
.help-container section div label p{
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray-500);
}
.send-button{
  width: 100%;
  height: 50px;
  background-color: var(--primary);
  border-radius: 8px;
  border: none;
}
.send-button a{
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 700px) {
  .hobbi__info-container{
    grid-template-rows: repeat(3,230px);
    grid-template-columns: repeat(2,343px);
  }
  .article__container-about{
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
  }
  .input__container{
    grid-template-rows: repeat(3,58px);
    grid-template-columns: repeat(2,304px);
  }
  .proyects__container{
    grid-template-columns: repeat(2,343px);
    grid-template-rows: repeat(2,274px);
  }
  .article__container{
    grid-template-rows: repeat(2,300px);
    grid-template-columns: repeat(2,330px);
  }
}
@media (min-width: 850px) {
  .hobbi__info-container{
    grid-template-rows: repeat(2,230px);
    grid-template-columns: repeat(3,363px);
  }
  .proyects__container{
    grid-template-columns: repeat(2,500px);
  }
}
