  .article-header {
    background-color: var(--secondary-dark);
    padding: 16px 0 16px 0;
  }
  .article-header h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--white);
  }
  .important__header{
    padding: 48px 16px 48px 16px;
    background-color: var(--secondary-light);
  }
  .important__header-title{
    margin: 0 auto;
    max-width: 768px;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
  }
  .important__header-title span{
    font-weight: 600;
    color: var(--primary);
  }
  .important__header-text{
    margin: 0 auto;
    max-width: 768px;
    margin-top: 16px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
  /*-----------------------------------*/
  .navbar{
    background-color: var(--background);
    padding: 16px;
    max-width: 768px;
    margin: 0 auto;
  }
  .navbar h1{
    margin: 0 105px 0 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
  }
  .navbar-options-container{
    display: flex;
    margin: 16px 105px 0 8px;
    justify-content: space-between;
  }
  .navbar-options-container a{
    color: var(--primary-dark);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .navbar button{
    margin: 16px 105px 0 0;
    background-color: var(--primary);
    width: 102px;
    height: 30px;
    padding: 8px, 12px, 8px, 12px;
    border-radius: 8px;
    border: none;
    transition: 1s;
  }
  .navbar button:hover{
    background-color: var(--primary-dark);
  }
  .navbar button:active{
    background-color: var(--secondary-light);
  }
  .navbar button a{
    color: var(--white);
    text-decoration: none;
  }