  .article-header {
    background-color: var(--secondary-dark);
    padding: 16px 0 16px 0;
  }
  .article-header h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--white);
  }
  .nav_cont{
    background-color: var(--background);
    padding: 16px 0 16px 0;
  }
  .nav_body{
    max-width: 1047px;
    display: flex;
    place-content:center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 21px 0 21px;
  }
  .my_name{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .nav_options{
    margin-top: 10px;
    width: 24px;
    height: 21.33px;
  }
  /*-----------------------------------*/
  .home-navbar{
    background-color: var(--background);
    padding: 16px;
  }
  .home-navbar h1{
    margin: 0 105px 0 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
  }
  .home-options-container{
    display: flex;
    margin: 16px 105px 0 8px;
    justify-content: space-between;
  }
  .home-options-container p{
    color: var(--primary-dark);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .home-navbar button{
    margin: 16px 105px 0 0;
    background-color: var(--primary);
    width: 102px;
    height: 30px;
    padding: 8px, 12px, 8px, 12px;
    border-radius: 8px;
    border: none;
    transition: 1s;
  }
  .home-navbar button:hover{
    background-color: var(--primary-dark);
  }
  .home-navbar button:active{
    background-color: var(--secondary-light);
  }
  .home-navbar button a{
    color: var(--white);
    text-decoration: none;
  }